:root {
  --color-primary-dark: #000;
  --color-primary-light: #fff;
  --color-primary-light-blue: #011c44;
  --color-brand: #2b7fff;
  --color-secondary: #4a4a4a;
  --color-secondary2: #747272;
}

/* base */
body {
  color: var(--color-primary-light-blue);
}

ul {
  list-style-type: none;
}

/* Button */
.button {
  color: var(--color-primary-light);
  background: var(--color-brand);
  border: var(--color-brand);
  border-radius: 32px;
  cursor: pointer;
}

.button:hover {
  color: var(--color-primary-light-blue);
  border: 2px solid var(--color-brand);
  background: transparent;
}

/* Link */
.link:hover {
  color: var(--color-brand);
}

/* Titele */
.hero-title .accent {
  color: var(--color-brand);
}
.section-procedures .section-title {
  color: var(--color-primary-light-blue);
}

.section-title .accent {
  color: var(--color-brand);
}

.accent {
  color: var(--color-brand);
}
/* Text */
.section-procedures {
  color: var(--color-primary-light);
}

.paragraf {
  color: var(--color-secondary);
}

.article-text {
  color: var(--color-primary-dark);
}

.footer-text {
  color: var(--color-secondary2);
}
